<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <title>Crisnomo.blog</title>

    <script type="text/javascript">
        window.onload = function () {
            var x = document.getElementsByClassName("fecha");
            console.log(x.length)
            for (var i = 0; i < x.length; i++) {
                var fechaSinFormato = x[i].innerHTML;
                console.log(fechaSinFormato)
                var fechaConFormatoAMedias = fechaSinFormato.split(" ")[0]
                var dia, mes, anyo;
                dia = fechaConFormatoAMedias.split("-")[2]
                mes = fechaConFormatoAMedias.split("-")[1]
                anyo = fechaConFormatoAMedias.split("-")[0]
                var fechaConFormato = dia + '/' + mes + '/' + anyo
                console.log(fechaConFormato)
                x[i].innerHTML = fechaConFormato
            }
        }
    </script>

    <style>
        .carousel-control-prev-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
        }

        .carousel-control-next-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
        }
    </style>
</head>

<body>
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light">
        <div class="container justify-content-center">
            <a class="navbar-brand" href="/">
                <img src="/static/nombre.png" width="50%" height="50%" class="mx-auto d-block" alt="...">

            </a>
        </div>
    </nav>
   <hr> 
   
   <p class="text-center lh-lg fw-bold">Para megustalaropa, la planificación de riesgos laborales se considera una prioridad constante. 
    <p class="text-center lh-lg">La empresa valora la seguridad y el bienestar de sus empleados, y trabaja en estrecha colaboración con un equipo de expertos en salud y seguridad para identificar y mitigar cualquier riesgo potencial en el entorno de trabajo. 
Se realizan evaluaciones regulares de riesgos, se ofrece capacitación en seguridad y se promueve una cultura de prevención para garantizar un ambiente laboral seguro y saludable para todos.

<p class="text-center lh-lg">En cuanto a los contratos, la empresa se esfuerza por ser transparente y justa con sus empleados. 
Se trabaja en contratos que reflejan claramente las condiciones laborales, los beneficios y las expectativas mutuas.
Además, la empresa está comprometida a cumplir con todas las regulaciones laborales vigentes para proteger los derechos de sus empleados.</p>
<p class="text-center lh-lg">Se valora la flexibilidad y la adaptabilidad, y se están dispuestos a ofrecer contratos que se ajusten a las necesidades de cada empleado.</p>

<p class="text-center lh-lg">Los derechos de los empleados son una parte fundamental de la filosofía de recursos humanos en megustalaropa. 
Se fomenta un ambiente inclusivo y respetuoso donde se promueve la igualdad de oportunidades, la diversidad y la no discriminación. 
Además, se proporciona a los empleados información y recursos para que estén al tanto de sus derechos laborales y estén capacitados para hacer valer sus derechos en caso de ser necesario. 
En megustalaropa se enorgullece de ser un lugar de trabajo que valora y protege los derechos de sus empleados en todo momento.
</p>
<hr>

<p class="text-center lh-lg fw-bold fst-italic">Bienvenidos a megustalaropa - Tu Destino de Moda en la Web</p>

<p class="text-center lh-lg">En megustalaropa, estamos apasionados por la moda y comprometidos a brindarte contenido de calidad que te inspire y te ayude a expresar tu estilo personal. Queremos compartir contigo las funciones básicas de nuestra empresa y cómo nos organizamos para cumplir con nuestra misión.</p>
    <p class="text-center lh-lg fw-bold">En el corazón de megustalaropa se encuentra una misión clara:</p>
    <p class="text-center lh-lg">"Crear una comunidad de amantes de la moda y la creatividad". Esta misión es nuestra brújula, nos guía en cada artículo que escribimos y en cada decisión que tomamos.</p>

    <p class="text-center lh-lg fw-bold fst-italic">Funciones Básicas de megustalaropa</p>

    <p class="text-center lh-lg fw-bold">Creación de Contenido Inspirador: </p>
    <p class="text-center lh-lg">En megustalaropa, creamos artículos, guías y contenido multimedia que exploran las últimas tendencias, consejos de estilo, y temas relevantes de moda. Nuestro equipo de redacción y expertos en moda se esfuerzan por mantenerte informado y motivado.</p>

    <p class="text-center lh-lg fw-bold">Investigación en Profundidad:</p> 
<p class="text-center lh-lg">Realizamos investigaciones exhaustivas para ofrecerte información precisa y actualizada. Nos mantenemos al tanto de las novedades de la industria y compartimos información valiosa contigo.</p>

 <p class="text-center lh-lg fw-bold">Fomento de la Creatividad: </p>
<p class="text-center lh-lg">Queremos que te sientas inspirado y capaz de expresar tu creatividad a través de la moda. Publicamos contenido que fomente la originalidad y te ayude a descubrir tu propio estilo.</p>

 <p class="text-center lh-lg fw-bold">Interacción con la Comunidad: </p>
 <p class="text-center lh-lg">Valoramos la retroalimentación de nuestros seguidores. Estamos aquí para interactuar contigo, responder a tus preguntas y participar en conversaciones sobre moda. La comunidad es esencial para nosotros.</p>

<p class="text-center lh-lg fst-italic fw-bold">Formas Organizativas</p>

    <p class="text-center lh-lg">En megustalaropa, adoptamos una estructura organizativa que promueve la colaboración y la creatividad. Algunos de los aspectos clave de nuestra organización incluyen:</p>

    <p class="text-center lh-lg fw-bold">Equipos de Especialistas en Moda: </p>
        <p class="text-center lh-lg">Contamos con equipos de expertos en moda, redacción, fotografía y diseño que colaboran estrechamente para producir contenido de alta calidad.</p>

        <p class="text-center lh-lg fw-bold">Cultura de Colaboración: </p>
            <p class="text-center lh-lg">Fomentamos la colaboración y el intercambio de ideas entre los miembros del equipo. Creemos que la diversidad de perspectivas enriquece nuestro trabajo.</p>

            <p class="text-center lh-lg fw-bold">Contenido Programado y Publicación Regular: </p>
                <p class="text-center lh-lg">Mantenemos un calendario de publicación regular para garantizar que siempre tengas contenido fresco y relevante en tu bandeja de entrada.</p>

                <p class="text-center lh-lg fw-bold">Transparencia y Feedback: </p>
                    <p class="text-center lh-lg fst-italic">Valoramos la retroalimentación de nuestra audiencia. Nos esforzamos por ser transparentes en nuestras prácticas y mejoramos constantemente gracias a tus comentarios.</p>

                    <p class="text-center lh-lg fst-italic">En megustalaropa, nuestra dedicación a la moda y a nuestra comunidad nos impulsa a seguir creciendo y evolucionando. Estamos emocionados por el futuro y esperamos que nos acompañes en este apasionante viaje.</p>

                    <p class="text-center lh-lg fst-italic">Si deseas obtener más información sobre megustalaropa, no dudes en ponerte en contacto con nosotros. ¡Gracias por ser parte de nuestra comunidad de moda en línea!
</p>


</body>
</html>